:root {
  --black: hsl(0deg, 0%, 0%);
  --veryDark: hsl(0deg, 0%, 10%);
  --darkGrey: hsl(0deg, 0%, 30%);
  --mediumGrey: hsl(0deg, 0%, 40%);
  --lightGrey: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
  --green: hsl(160deg, 100%, 30%);
  --lightGold: hsl(45deg, 100%, 50%);
  --darkGold: hsl(45deg, 100%, 40%);
  --fontSize: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: var(--fontSize);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--lightGrey);
}

/* Add styles here! */
header .max-width-wrapper strong {
  color: var(--green);
}

header {
  padding: 8em 0;
  box-shadow: 0 1em 1em 0 var(--darkGrey);
  margin-bottom: 1em;
  background-color: var(--white);
}

main {
  padding-top: 5em;
  margin-bottom: 5em;
}

section {
  background-color: var(--white);
  box-shadow: 0 1em 1em 0 grey;
}

.max-width-wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.intro-chunk {
  padding: 0 2em;
}

.intro-chunk h1 {
  padding-bottom: 2em;
}

.card {
  padding: 1em;
  margin: 0 auto;
  margin-top: 2em;
}

.indented-heading {
  background-color: var(--lightGold);
  box-shadow: 0 0.3em 0.1em 0 var(--darkGold);
  margin: 0;
  margin-left: -2em;
  padding: 2em;
  padding-left: 2em;
  width: fit-content;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  :root {
    --fontSize: 1.5rem;
  }

  .max-width-wrapper {
    margin: 0 auto;
    max-width: 100%;
  }

  header {
    padding: 2em 0;
  }

  main {
    padding-top: 1em;
    margin-bottom: 5em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  :root {
    --fontSize: 1.5rem;
  }

  .max-width-wrapper {
    margin: 0 auto;
    max-width: 100%;
  }

  header {
    padding: 2em 0;
  }

  main {
    padding-top: 3em;
    margin-bottom: 5em;
  }
}
